@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply cursor-pointer rounded-md bg-white px-4 py-2 font-headline text-sm font-semibold transition;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
