@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply cursor-pointer rounded-md bg-white/10 px-4 py-2 hover:bg-white/20;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
